html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: white;
}

.orangeSection {
  color: #e77e23;
}

/* MAIN TITLE */

.navbar {
  height: auto;
  z-index: 1;
  margin: 0%;
  padding: 0%;
  position: absolute;
  color: white;
}

.navTitle {
  display: inline;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  padding-left: 5%;
}

.navContainer {
  display: inline;
  margin: 0%;
  padding: 0;
  overflow: hidden;
  position: relative;
  left: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.navContainer a:hover {
  color: black;
}

.navContainer .icon {
  display: none;
}

.navItem {
  margin-left: 50px;
}

#title {
  color: white;
}

.mainContainer {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.mainImg {
  z-index: -2;
  width: 100%;
}

.mainContent {
  text-align: center;
  bottom: 30%;
  margin: 0%;
  position: absolute;
  left: 25%;
}

.mainButton.download {
  margin-left: 50px;
}

.mainButton {
  background-color: #e77e23;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 11px 43px;
  text-decoration: none;
}
.mainButton:hover {
  background-color: #c79c45;
}
.mainButton:active {
  position: relative;
  top: 1px;
}

/* ABOUT FOODNOW - SECTION */

.aboutContainer {
  position: relative;
  padding: 10% 10%;
  color: black;
}

#aboutImg {
  position: relative;
  z-index: 2;
}

#aboutContentBox {
  z-index: -1;
  top: 20%;
  bottom: 0%;
  left: 25%;
  background-color: #f5f9fa;
  display: inline-flexbox;
  position: absolute;
}

.aboutContent {
  left: 45%;
  text-align: left;
  position: relative;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 2;
  word-wrap: break-word;
}

.aboutContentTitle {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  z-index: 2;
}

.aboutBackground {
  padding: 5% 0%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
/* OUR FEATURES SECTION */

#ourFeatures {
  padding-top: 7%;
  text-align: center;
  color: black;
}

.ourFeaturesTitle {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  padding-bottom: 5%;
  margin: 0%;
}

.ourFeaturesItem {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.item {
  left: 16.67%;
  position: relative;
  font-size: 1.1rem;
}

.withBorder {
  border-right: 1px solid rgb(226, 206, 206);
  border-left: 1px solid rgb(226, 206, 206);
}

/* HOW IT WORKS SECTION */

#howItWorks {
  padding-top: 7%;
  color: black;
}

.howItWorksTitle {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  padding-top: 15%;
  margin: 0%;
}

.howItWorksBackground {
  position: absolute;
  z-index: -1;
  top: -3%;
  width: 100%;
}

.howItWorksContainers {
  z-index: 0;
  background-color: #f5f9fa;
  position: relative;
}

.howItWorksContent {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  z-index: 1;
  display: inline;
  position: absolute;
  padding-left: 5%;
  color: black;
}

.howItWorksItem {
  padding-left: 50px;
}

.howItWorksNumberItem {
  border: 5px solid #e77e23;
  border-radius: 100%;
  width: 50px;
  text-align: center;
  color: #e77e23;
}

.howItWorksNumberItem:hover {
  border-block-color: #e77e23;
}

.howItWorksImg {
  padding-top: 10%;
  z-index: 2;
  margin: 0%;
}

.howItWorksImgBox {
  left: 70%;

  position: relative;
  display: inline;
  margin: 0%;
}

/* DOWNLOAD SECTION */

.downloadContainer {
  background-color: #e77e23;
  position: relative;
  height: 700px;
  color: white;
}

.downloadImgBox {
  text-align: center;
  display: inline;
  top: 100px;
  position: relative;
  margin: 0%;
  padding-left: 10%;
}

.downloadContentBox {
  text-align: left;
  display: inline;
  position: absolute;
}

.downloadTitle {
  font-size: 3rem;
}

.downloadContent {
  padding-top: 5rem;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.5rem;
}

.downloadAppButton {
  padding: 0;
  border: none;
  background: none;
  display: inline;
}

.downloadGoogleButton {
  padding: 0;
  border: none;
  background: none;
  display: inline;
}

.downloadButton {
  padding-top: 5rem;
}

.downloadButtonImg {
  padding-left: 10px;
  display: inline;
}

/* OUR FEATURE SECTION */

#ourPartners {
  padding: 15% 0% 5%;
  text-align: center;
  position: relative;
  color: black;
}

.ourPartnersTitle {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}

.ourPartnersContainerBox {
  left: 15%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.ourPartnersItem {
  padding-bottom: 15px;
}

/* COVERAGE AREA SECTION */

.coverageAreaContainerBox {
  padding-left: 5%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 50px;
  color: black;
}

.coverageAreaItem {
  padding: 0%;
  text-align: left;
}

/* FOOTER SECTION */

.footerContainer {
  height: 100px;
  padding: 50px;
  color: black;
}

.footerContentBox {
  padding-left: 1.5%;
  display: inline;
  position: relative;
}

.footerContent {
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.footerContentTitle {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.footerContentIconBox {
  display: inline-block;
}

.footerCopyRight {
  display: inline;
  padding-left: 30%;
}

.footerSocialContent {
  display: inline;
  padding-left: 25%;
  position: relative;
}
.footerContentIcon {
  display: inline-block;
  width: 20%;
  padding-left: 15px;
}

.footerContentIconBox {
  display: inline-block;
  position: relative;
  top: 15px;
}

@media screen and (max-width: 865px) {
  /* MAIN SECTION RESPONSIVE */

  .mainContent h3 {
    display: none;
  }

  .mainButton {
    background-color: #e77e23;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding: 5px 40px;
    text-decoration: none;
    width: 100;
  }

  .mainButton.download {
    display: none;
  }
  .navContainer a {
    display: none;
  }

  .navContainer a.icon {
    left: 10%;
    float: inline-end;
    display: inline;
    position: relative;
  }
  .navContainer.responsive {
    position: relative;
  }
  .navContainer.responsive a.icon {
    position: absolute;
  }
  .navContainer.responsive a {
    display: block;
    text-align: left;
  }

  /* ABOUT SECTION RESPONSIVE */

  .aboutContentTitle {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    z-index: 2;
  }

  #aboutContentBox {
    z-index: -1;
    top: 20%;
    bottom: 0%;
    left: 25%;
    background-color: #f5f9fa;
    display: inline;
    position: absolute;
    overflow: auto;
  }

  .aboutContent {
    left: 45%;
    text-align: left;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 2;
    overflow: auto;
  }

  /* OUR FEATURES SECTION RENSPOSIVE */

  .ourFeaturesItem {
    display: inline-block;
    position: relative;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .ourFeaturesTitle {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    padding-bottom: 5%;
    margin: 0%;
  }

  /* HOW IT WORKS RESPONSIVE */

  .howItWorksTitle {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    padding-top: 15%;
    margin: 0%;
  }

  .howItWorksContent {
    width: 80%;
    height: 200px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    z-index: 1;
    position: absolute;
    padding-left: 2%;
    color: black;
  }

  .howItWorksContent .item {
    left: 30px;
    overflow: auto;
  }

  /* DOWNLOAD SECTION RESPONSIVE */

  .downloadImgBox {
    display: none;
  }

  .downloadContentBox {
    text-align: center;
    width: 80%;
    text-align: left;
    position: absolute;
    left: 12.5%;
  }

  .downloadTitle {
    font-size: 2rem;
  }

  .downloadContent {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1rem;
  }

  /* OUR PARTNERS RESPONSIVE */

  #ourPartners {
    padding: 5% 0%;
    text-align: center;
    position: relative;
    color: black;
  }

  .ourPartnersTitle {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
  }

  .ourPartnersContainerBox {
    left: 15%;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }

  /* COVERAGE AREA RESPONSIVE SECTION */

  .coverageAreaContainerBox {
    width: 100%;
    padding-left: 5%;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding-bottom: 50px;
    color: black;
    overflow: auto;
  }

  /* FOOTER RESPONSIVE SECTION */

  .footerContent {
    padding-left: 0%;
    display: inline;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }

  .footerContentTitle {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
  }

  .footerSocialContent {
    display: inline;
    padding-left: 10%;
    position: relative;
  }
  .footerContentIcon {
    display: inline-block;
    width: 15%;
    padding-left: 5px;
  }

  .footerContentIconBox {
    display: inline-block;
    position: relative;
    top: 10px;
  }

  .footerCopyRight {
    display: inline;
    padding-left: 15%;
  }
}
